.night_logo{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: auto;
}
.temp_details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    color: #888;
}
.heading{
    font-size: 3rem;
    color: black;
}
.temp_unit{
    display: inline-block;
    font-size: 1.2rem;
    cursor: pointer;
    color: black;
}
.active_unit{
    color:#888;
}
.day_details{
    font-size: 1rem;
    font-weight: 600;
}
.location_detils{
    color: #888;
    font-size: 1rem;
    font-weight: 500;
    text-align: end;
}
.detail_icons{
    height: 30px;
}
.info{
    display: flex;
    gap: 0.5rem;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #888;
}